.card{
  @include flex-column;
  @include box-shadow;
  background: white;
  margin-bottom: 1.5em;
  border-radius: 10px;
  width: 100%;
  padding: 1.8em 1.8em;
  max-width: 315px;
  &__title{
    color: $gray-blue;
  }
  &__currency{
    font-size: 2.2em;
  }
  &__amount{
    font-size: 3.7em;
  }
  &__price{
    display: flex;
    align-items: center;
    margin: 1em 0;
    color: $dark-blue;
  }
  &__row{
    border-bottom: 0.5px solid $light-gray-blue;
    text-align: center;
    padding: 1.2em 0;
    &:first-of-type{
      border-top: 0.5px solid $light-gray-blue;
    }
    &:last-of-type{
      margin-bottom: 2em;
    }
  }
  &__features{
    width: 100%;
    color: $gray-blue;
  }
  &__button{
    width: 100%;
  }
}

.alternate{
  background: $linear-purple;
  .card{
    &__title{
      color: white;
    }
    &__price{
      color: white;
    }
    &__features{
      color: white;
    }
  }
}

.container__cards{
  @include flex-column;
  display: flex;
  width: 100%;
}

@media only screen and (min-width: 1023px){
 .container__cards{
   flex-direction: row;
   justify-content: center;
 }

 .alternate{
  z-index: 10;
  font-size: 15px;
 }
}