.container__switch{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 4em;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  input{
    display: none;
    &:checked + .slider{
      background: #2196F3;
    }
    &:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }
    &:checked + .slider:before {
      -webkit-transform: translateX(1.75em);
      -ms-transform: translateX(1.75em);
      transform: translateX(1.75em);
    }
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 3em;
  &:before {
    position: absolute;
    content: "";
    height: 1.75em;
    width: 1.75em;
    left: 4px;
    bottom: 4px;
    background: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
}
