.container__switch{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 3em;
  align-items: center;
  color: $light-gray-blue;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 2.2em;
  margin: 0 2.5em;
  input{
    opacity: 0;
    &:checked + .slider:before {
      -webkit-transform: translateX(1.75em);
      -ms-transform: translateX(1.75em);
      transform: translateX(1.75em);
    }
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: $linear-purple;
  -webkit-transition: .4s all ease;
  transition: .4s all ease;
  border-radius: 3em;
  &:hover{
    background: $light-gray-blue;
  }
  &:before {
    position: absolute;
    content: "";
    height: 1.75em;
    width: 1.75em;
    left: 4px;
    bottom: 4px;
    background: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
}
