$font-family: 'Montserrat', sans-serif;
$font-weight: 700;
$font-size: 15px;

$linear-purple: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));

$full-purple: hsl(237, 63%, 64%);

$bg-color: hsl(240, 78%, 98%);

$light-gray-blue: hsl(234, 14%, 74%);

$dark-blue: hsl(232, 13%, 33%);

$gray-blue: hsl(233, 13%, 49%);