* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: white; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px; }

.attribution {
  text-align: center; }

.attribution a {
  color: #3e52a3; }

.container {
  width: 100%;
  display: flex;
  padding: 2em 1.5em;
  display: flex;
  align-items: center;
  flex-direction: column; }

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px 10px 1px #cecece;
  background: white;
  margin-bottom: 1.5em;
  border-radius: 10px;
  width: 100%;
  padding: 1.5em 0; }

.card__currency {
  font-size: 2.2em; }

.card__amount {
  font-size: 3.5em; }

.card__price {
  display: flex;
  align-items: center;
  margin: 1em 0; }

.container__cards {
  display: flex;
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 100%; }

.title {
  margin-bottom: 2em; }

.container__checkbox {
  display: flex;
  width: 100%;
  background: red;
  justify-content: space-evenly;
  margin-bottom: 4em; }

.checkbox {
  height: 40px;
  width: 100px; }
